In [1]:
import numpy as np, matplotlib as mpl, matplotlib.pyplot as plt, pandas as pd
import seaborn as sns
%matplotlib inline
import sklearn
import xgboost as xgb
from sklearn.model_selection import KFold, cross_val_score, train_test_split
from mpl_toolkits import mplot3d
from sklearn.preprocessing import LabelEncoder
from pylift import TransformedOutcome
from pylift.generate_data import dgp

In [2]:
df_data = pd.read_csv('WA_Fn-UseC_-HR-Employee-Attrition.csv')
df_data.index.name = "id"

In [6]:
pd.options.display.max_columns = None
pd.options.display.max_rows = None
df_data

      Age Attrition     BusinessTravel  DailyRate              Department  \
id
0      41       Yes      Travel_Rarely       1102                   Sales
1      49        No  Travel_Frequently        279  Research & Development
2      37       Yes      Travel_Rarely       1373  Research & Development
3      33        No  Travel_Frequently       1392  Research & Development
4      27        No      Travel_Rarely        591  Research & Development
5      32        No  Travel_Frequently       1005  Research & Development
6      59        No      Travel_Rarely       1324  Research & Development
7      30        No      Travel_Rarely       1358  Research & Development
8      38        No  Travel_Frequently        216  Research & Development
9      36        No      Travel_Rarely       1299  Research & Development
10     35        No      Travel_Rarely        809  Research & Development
11     29        No      Travel_Rarely        153  Research & Development
12     31        No      Travel_Rarely        670  Research & Development
13     34        No      Travel_Rarely       1346  Research & Development
14     28       Yes      Travel_Rarely        103  Research & Development
15     29        No      Travel_Rarely       1389  Research & Development
16     32        No      Travel_Rarely        334  Research & Development
17     22        No         Non-Travel       1123  Research & Development
18     53        No      Travel_Rarely       1219                   Sales
19     38        No      Travel_Rarely        371  Research & Development
20     24        No         Non-Travel        673  Research & Development
21     36       Yes      Travel_Rarely       1218                   Sales
22     34        No      Travel_Rarely        419  Research & Development
23     21        No      Travel_Rarely        391  Research & Development
24     34       Yes      Travel_Rarely        699  Research & Development
25     53        No      Travel_Rarely       1282  Research & Development
26     32       Yes  Travel_Frequently       1125  Research & Development
27     42        No      Travel_Rarely        691                   Sales
28     44        No      Travel_Rarely        477  Research & Development
29     46        No      Travel_Rarely        705                   Sales
30     33        No      Travel_Rarely        924  Research & Development
31     44        No      Travel_Rarely       1459  Research & Development
32     30        No      Travel_Rarely        125  Research & Development
33     39       Yes      Travel_Rarely        895                   Sales
34     24       Yes      Travel_Rarely        813  Research & Development
35     43        No      Travel_Rarely       1273  Research & Development
36     50       Yes      Travel_Rarely        869                   Sales
37     35        No      Travel_Rarely        890                   Sales
38     36        No      Travel_Rarely        852  Research & Development
39     33        No  Travel_Frequently       1141                   Sales
40     35        No      Travel_Rarely        464  Research & Development
41     27        No      Travel_Rarely       1240  Research & Development
42     26       Yes      Travel_Rarely       1357  Research & Development
43     27        No  Travel_Frequently        994                   Sales
44     30        No  Travel_Frequently        721  Research & Development
45     41       Yes      Travel_Rarely       1360  Research & Development
46     34        No         Non-Travel       1065                   Sales
47     37        No      Travel_Rarely        408  Research & Development
48     46        No  Travel_Frequently       1211                   Sales
49     35        No      Travel_Rarely       1229  Research & Development
50     48       Yes      Travel_Rarely        626  Research & Development
51     28       Yes      Travel_Rarely       1434  Research & Development
52     44        No      Travel_Rarely       1488                   Sales
53     35        No         Non-Travel       1097  Research & Development
54     26        No      Travel_Rarely       1443                   Sales
55     33        No  Travel_Frequently        515  Research & Development
56     35        No  Travel_Frequently        853                   Sales
57     35        No      Travel_Rarely       1142  Research & Development
58     31        No      Travel_Rarely        655  Research & Development
59     37        No      Travel_Rarely       1115  Research & Development
60     32        No      Travel_Rarely        427  Research & Development
61     38        No  Travel_Frequently        653  Research & Development
62     50        No      Travel_Rarely        989  Research & Development
63     59        No      Travel_Rarely       1435                   Sales
64     36        No      Travel_Rarely       1223  Research & Development
65     55        No      Travel_Rarely        836  Research & Development
66     36        No  Travel_Frequently       1195  Research & Development
67     45        No      Travel_Rarely       1339  Research & Development
68     35        No  Travel_Frequently        664  Research & Development
69     36       Yes      Travel_Rarely        318  Research & Development
70     59        No  Travel_Frequently       1225                   Sales
71     29        No      Travel_Rarely       1328  Research & Development
72     31        No      Travel_Rarely       1082  Research & Development
73     32        No      Travel_Rarely        548  Research & Development
74     36        No      Travel_Rarely        132  Research & Development
75     31        No      Travel_Rarely        746  Research & Development
76     35        No      Travel_Rarely        776                   Sales
77     45        No      Travel_Rarely        193  Research & Development
78     37        No      Travel_Rarely        397  Research & Development
79     46        No      Travel_Rarely        945         Human Resources
80     30        No      Travel_Rarely        852  Research & Development
81     35        No      Travel_Rarely       1214  Research & Development
82     55        No      Travel_Rarely        111                   Sales
83     38        No         Non-Travel        573  Research & Development
84     34        No      Travel_Rarely       1153  Research & Development
85     56        No      Travel_Rarely       1400  Research & Development
86     23        No      Travel_Rarely        541                   Sales
87     51        No      Travel_Rarely        432  Research & Development
88     30        No      Travel_Rarely        288  Research & Development
89     46       Yes      Travel_Rarely        669                   Sales
90     40        No  Travel_Frequently        530  Research & Development
91     51        No      Travel_Rarely        632                   Sales
92     30        No      Travel_Rarely       1334                   Sales
93     46        No  Travel_Frequently        638  Research & Development
94     32        No      Travel_Rarely       1093                   Sales
95     54        No      Travel_Rarely       1217  Research & Development
96     24        No      Travel_Rarely       1353                   Sales
97     28        No         Non-Travel        120                   Sales
98     58        No      Travel_Rarely        682                   Sales
99     44        No         Non-Travel        489  Research & Development
100    37       Yes      Travel_Rarely        807         Human Resources
101    32        No      Travel_Rarely        827  Research & Development
102    20       Yes  Travel_Frequently        871  Research & Development
103    34        No      Travel_Rarely        665  Research & Development
104    37        No         Non-Travel       1040  Research & Development
105    59        No         Non-Travel       1420         Human Resources
106    50        No  Travel_Frequently       1115  Research & Development
107    25       Yes      Travel_Rarely        240                   Sales
108    25        No      Travel_Rarely       1280  Research & Development
109    22        No      Travel_Rarely        534  Research & Development
110    51        No  Travel_Frequently       1456  Research & Development
111    34       Yes  Travel_Frequently        658  Research & Development
112    54        No         Non-Travel        142         Human Resources
113    24        No      Travel_Rarely       1127  Research & Development
114    34        No      Travel_Rarely       1031  Research & Development
115    37        No      Travel_Rarely       1189                   Sales
116    34        No      Travel_Rarely       1354  Research & Development
117    36        No  Travel_Frequently       1467                   Sales
118    36        No      Travel_Rarely        922  Research & Development
119    43        No  Travel_Frequently        394                   Sales
120    30        No  Travel_Frequently       1312  Research & Development
121    33        No         Non-Travel        750                   Sales
122    56       Yes      Travel_Rarely        441  Research & Development
123    51        No      Travel_Rarely        684  Research & Development
124    31       Yes      Travel_Rarely        249                   Sales
125    26        No      Travel_Rarely        841  Research & Development
126    58       Yes      Travel_Rarely        147  Research & Development
127    19       Yes      Travel_Rarely        528                   Sales
128    22        No      Travel_Rarely        594  Research & Development
129    49        No      Travel_Rarely        470  Research & Development
130    43        No  Travel_Frequently        957  Research & Development
131    50        No  Travel_Frequently        809                   Sales
132    31       Yes      Travel_Rarely        542                   Sales
133    41        No      Travel_Rarely        802                   Sales
134    26        No      Travel_Rarely       1355         Human Resources
135    36        No      Travel_Rarely        216  Research & Development
136    51       Yes  Travel_Frequently       1150  Research & Development
137    39        No      Travel_Rarely       1329                   Sales
138    25        No      Travel_Rarely        959                   Sales
139    30        No      Travel_Rarely       1240         Human Resources
140    32       Yes      Travel_Rarely       1033  Research & Development
141    45        No      Travel_Rarely       1316  Research & Development
142    38        No      Travel_Rarely        364  Research & Development
143    30        No      Travel_Rarely        438  Research & Development
144    32        No  Travel_Frequently        689                   Sales
145    30        No      Travel_Rarely        201  Research & Development
146    30        No      Travel_Rarely       1427  Research & Development
147    41        No  Travel_Frequently        857  Research & Development
148    41        No      Travel_Rarely        933  Research & Development
149    19        No      Travel_Rarely       1181  Research & Development
150    40        No  Travel_Frequently       1395  Research & Development
151    35        No      Travel_Rarely        662                   Sales
152    53        No      Travel_Rarely       1436                   Sales
153    45        No      Travel_Rarely        194  Research & Development
154    32        No  Travel_Frequently        967                   Sales
155    29        No         Non-Travel       1496  Research & Development
156    51        No      Travel_Rarely       1169  Research & Development
157    58        No      Travel_Rarely       1145  Research & Development
158    40        No      Travel_Rarely        630                   Sales
159    34        No  Travel_Frequently        303                   Sales
160    22        No      Travel_Rarely       1256  Research & Development
161    27        No         Non-Travel        691  Research & Development
162    28        No      Travel_Rarely        440  Research & Development
163    57        No      Travel_Rarely        334  Research & Development
164    27        No         Non-Travel       1450  Research & Development
165    50        No      Travel_Rarely       1452  Research & Development
166    41        No      Travel_Rarely        465  Research & Development
167    30        No      Travel_Rarely       1339                   Sales
168    38        No      Travel_Rarely        702                   Sales
169    32        No      Travel_Rarely        120  Research & Development
170    27        No      Travel_Rarely       1157  Research & Development
171    19       Yes  Travel_Frequently        602                   Sales
172    36        No  Travel_Frequently       1480  Research & Development
173    30        No         Non-Travel        111  Research & Development
174    45        No      Travel_Rarely       1268                   Sales
175    56        No      Travel_Rarely        713  Research & Development
176    33        No      Travel_Rarely        134  Research & Development
177    19       Yes      Travel_Rarely        303  Research & Development
178    46        No      Travel_Rarely        526                   Sales
179    38        No      Travel_Rarely       1380  Research & Development
180    31        No      Travel_Rarely        140  Research & Development
181    34        No      Travel_Rarely        629  Research & Development
182    41       Yes      Travel_Rarely       1356                   Sales
183    50        No      Travel_Rarely        328  Research & Development
184    53        No      Travel_Rarely       1084  Research & Development
185    33        No      Travel_Rarely        931  Research & Development
186    40        No      Travel_Rarely        989  Research & Development
187    55        No      Travel_Rarely        692  Research & Development
188    34        No  Travel_Frequently       1069  Research & Development
189    51        No      Travel_Rarely        313  Research & Development
190    52        No      Travel_Rarely        699  Research & Development
191    27        No      Travel_Rarely        894  Research & Development
192    35       Yes      Travel_Rarely        556  Research & Development
193    43        No         Non-Travel       1344  Research & Development
194    45        No         Non-Travel       1195  Research & Development
195    37        No      Travel_Rarely        290  Research & Development
196    35        No  Travel_Frequently        138  Research & Development
197    42        No         Non-Travel        926  Research & Development
198    38        No      Travel_Rarely       1261  Research & Development
199    38        No      Travel_Rarely       1084  Research & Development
200    27        No  Travel_Frequently        472  Research & Development
201    49        No         Non-Travel       1002  Research & Development
202    34        No  Travel_Frequently        878  Research & Development
203    40        No      Travel_Rarely        905  Research & Development
204    38       Yes      Travel_Rarely       1180  Research & Development
205    29       Yes      Travel_Rarely        121                   Sales
206    22        No      Travel_Rarely       1136  Research & Development
207    36        No  Travel_Frequently        635  Research & Development
208    40        No         Non-Travel       1151  Research & Development
209    46        No      Travel_Rarely        644  Research & Development
210    32       Yes      Travel_Rarely       1045                   Sales
211    30        No         Non-Travel        829  Research & Development
212    27        No  Travel_Frequently       1242                   Sales
213    51        No      Travel_Rarely       1469  Research & Development
214    30       Yes      Travel_Rarely       1005  Research & Development
215    41        No      Travel_Rarely        896                   Sales
216    30       Yes  Travel_Frequently        334                   Sales
217    29       Yes      Travel_Rarely        992  Research & Development
218    45        No         Non-Travel       1052                   Sales
219    54        No      Travel_Rarely       1147                   Sales
220    36        No      Travel_Rarely       1396  Research & Development
221    33        No      Travel_Rarely        147  Research & Development
222    37        No  Travel_Frequently        663  Research & Development
223    38        No      Travel_Rarely        119                   Sales
224    31        No         Non-Travel        979  Research & Development
225    59        No      Travel_Rarely        142  Research & Development
226    37        No  Travel_Frequently        319                   Sales
227    29        No  Travel_Frequently       1413                   Sales
228    35        No  Travel_Frequently        944                   Sales
229    29       Yes      Travel_Rarely        896  Research & Development
230    52        No      Travel_Rarely       1323  Research & Development
231    42        No      Travel_Rarely        532  Research & Development
232    59        No      Travel_Rarely        818         Human Resources
233    50        No      Travel_Rarely        854                   Sales
234    33       Yes      Travel_Rarely        813  Research & Development
235    43        No      Travel_Rarely       1034                   Sales
236    33       Yes      Travel_Rarely        465  Research & Development
237    52        No         Non-Travel        771                   Sales
238    32        No      Travel_Rarely       1401                   Sales
239    32       Yes      Travel_Rarely        515  Research & Development
240    39        No      Travel_Rarely       1431  Research & Development
241    32        No         Non-Travel        976                   Sales
242    41        No      Travel_Rarely       1411  Research & Development
243    40        No      Travel_Rarely       1300  Research & Development
244    45        No      Travel_Rarely        252  Research & Development
245    31        No  Travel_Frequently       1327  Research & Development
246    33        No      Travel_Rarely        832  Research & Development
247    34        No      Travel_Rarely        470  Research & Development
248    37        No      Travel_Rarely       1017  Research & Development
249    45        No  Travel_Frequently       1199  Research & Development
250    37       Yes  Travel_Frequently        504  Research & Development
251    39        No  Travel_Frequently        505  Research & Development
252    29        No      Travel_Rarely        665  Research & Development
253    42        No      Travel_Rarely        916  Research & Development
254    29        No      Travel_Rarely       1247                   Sales
255    25        No      Travel_Rarely        685  Research & Development
256    42        No      Travel_Rarely        269  Research & Development
257    40        No      Travel_Rarely       1416  Research & Development
258    51        No      Travel_Rarely        833  Research & Development
259    31       Yes  Travel_Frequently        307  Research & Development
260    32        No  Travel_Frequently       1311  Research & Development
261    38        No         Non-Travel       1327                   Sales
262    32        No      Travel_Rarely        128  Research & Development
263    46        No      Travel_Rarely        488                   Sales
264    28       Yes      Travel_Rarely        529  Research & Development
265    29        No      Travel_Rarely       1210                   Sales
266    31        No      Travel_Rarely       1463  Research & Development
267    25        No         Non-Travel        675  Research & Development
268    45        No      Travel_Rarely       1385  Research & Development

In [9]:
#Checking columns that can be safely label encoded
object_cols = [col for col in df_data.columns if df_data[col].dtype == "object"]
good_label_cols = [col for col in object_cols if 
                   set(df_data[col]) == set(df_data[col])]
print('B.1. Columns that can be safely label encoded:\n>>{}'.format(good_label_cols))
for col in good_label_cols:
    print('col{} have {} uniques value'.format(col,df_data[col]))
# #Checking uniques data in Department column
# col_to_check1 = 'Department'
# uniques = df_data[col_to_check1].nunique()
# print('\nB.2. All unique data in {} column:\n>>{}'.format(col_to_check1,uniques))

B.1. Columns that can be safely label encoded:
>>['Attrition', 'BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus', 'Over18', 'OverTime']
colAttrition have id
0       Yes
1        No
2       Yes
3        No
4        No
5        No
6        No
7        No
8        No
9        No
10       No
11       No
12       No
13       No
14      Yes
15       No
16       No
17       No
18       No
19       No
20       No
21      Yes
22       No
23       No
24      Yes
25       No
26      Yes
27       No
28       No
29       No
30       No
31       No
32       No
33      Yes
34      Yes
35       No
36      Yes
37       No
38       No
39       No
40       No
41       No
42      Yes
43       No
44       No
45      Yes
46       No
47       No
48       No
49       No
50      Yes
51      Yes
52       No
53       No
54       No
55       No
56       No
57       No
58       No
59       No
60       No
61       No
62       No
63       No
64       No
65       No
66       No
67       No
68       No
69      Yes
70       No
71       No
72       No
73       No
74       No
75       No
76       No
77       No
78       No
79       No
80       No
81       No
82       No
83       No
84       No
85       No
86       No
87       No
88       No
89      Yes
90       No
91       No
92       No
93       No
94       No
95       No
96       No
97       No
98       No
99       No
100     Yes
101      No
102     Yes
103      No
104      No
105      No
106      No
107     Yes
108      No
109      No
110      No
111     Yes
112      No
113      No
114      No
115      No
116      No
117      No
118      No
119      No
120      No
121      No
122     Yes
123      No
124     Yes
125      No
126     Yes
127     Yes
128      No
129      No
130      No
131      No
132     Yes
133      No
134      No
135      No
136     Yes
137      No
138      No
139      No
140     Yes
141      No
142      No
143      No
144      No
145      No
146      No
147      No
148      No
149      No
150      No
151      No
152      No
153      No
154      No
155      No
156      No
157      No
158      No
159      No
160      No
161      No
162      No
163      No
164      No
165      No
166      No
167      No
168      No
169      No
170      No
171     Yes
172      No
173      No
174      No
175      No
176      No
177     Yes
178      No
179      No
180      No
181      No
182     Yes
183      No
184      No
185      No
186      No
187      No
188      No
189      No
190      No
191      No
192     Yes
193      No
194      No
195      No
196      No
197      No
198      No
199      No
200      No
201      No
202      No
203      No
204     Yes
205     Yes
206      No
207      No
208      No
209      No
210     Yes
211      No
212      No
213      No
214     Yes
215      No
216     Yes
217     Yes
218      No
219      No
220      No
221      No
222      No
223      No
224      No
225      No
226      No
227      No
228      No
229     Yes
230      No
231      No
232      No
233      No
234     Yes
235      No
236     Yes
237      No
238      No
239     Yes
240      No
241      No
242      No
243      No
244      No
245      No
246      No
247      No
248      No
249      No
250     Yes
251      No
252      No
253      No
254      No
255      No
256      No
257      No
258      No
259     Yes
260      No
261      No
262      No
263      No
264     Yes
265      No
266      No
267      No
268      No
269      No
270      No
271     Yes
272      No
273      No
274      No
275      No
276      No
277      No
278      No
279      No
280      No
281      No
282      No
283      No
284      No
285      No
286     Yes
287      No
288     Yes
289      No
290      No
291      No
292      No
293     Yes
294      No
295      No
296     Yes
297      No
298      No
299      No
300      No
301      No
302      No
303      No
304      No
305      No
306      No
307      No
308      No
309      No
310      No
311      No
312      No
313      No
314      No
315      No
316      No
317     Yes
318      No
319      No
320      No
321      No
322      No
323     Yes
324      No
325      No
326      No
327     Yes
328      No
329      No
330      No
331      No
332      No
333      No
334      No
335      No
336     Yes
337      No
338      No
339      No
340      No
341      No
342      No
343      No
344      No
345      No
346      No
347      No
348      No
349      No
350      No
351      No
352      No
353      No
354      No
355      No
356      No
357     Yes
358      No
359      No
360      No
361      No
362      No
363     Yes
364      No
365      No
366     Yes
367      No
368     Yes
369      No
370     Yes
371      No
372      No
373      No
374      No
375      No
376      No
377      No
378     Yes
379      No
380      No
381      No
382     Yes
383      No
384      No
385     Yes
386      No
387      No
388      No
389      No
390      No
391      No
392      No
393      No
394      No
395      No
396      No
397      No
398      No
399      No
400      No
401      No
402      No
403      No
404      No
405     Yes
406      No
407      No
408      No
409      No
410      No
411      No
412      No
413      No
414     Yes
415     Yes
416      No
417      No
418      No
419      No
420      No
421     Yes
422     Yes
423      No
424      No
425      No
426      No
427      No
428      No
429      No
430      No
431      No
432      No
433      No
434      No
435     Yes
436     Yes
437      No
438      No
439     Yes
440     Yes
441      No
442      No
443     Yes
444      No
445      No
446      No
447      No
448      No
449      No
450      No
451      No
452      No
453     Yes
454      No
455      No
456      No
457     Yes
458      No
459      No
460      No
461      No
462      No
463     Yes
464      No
465      No
466      No
467      No
468      No
469     Yes
470      No
471      No
472      No
473      No
474      No
475      No
476      No
477      No
478      No
479     Yes
480     Yes
481      No
482     Yes
483      No
484      No
485      No
486      No
487      No
488      No
489      No
490      No
491      No
492      No
493      No
494      No
495     Yes
496      No
497      No
498      No
499      No
500      No
501      No
502      No
503      No
504     Yes
505      No
506      No
507      No
508      No
509      No
510      No
511      No
512      No
513     Yes
514     Yes
515      No
516      No
517      No
518      No
519      No
520      No
521      No
522      No
523      No
524      No
525     Yes
526      No
527      No
528     Yes
529      No
530      No
531      No
532      No
533      No
534      No
535      No
536      No
537      No
538      No
539      No
540     Yes
541      No
542      No
543      No
544      No
545      No
546      No
547     Yes
548      No
549      No
550      No
551      No
552      No
553      No
554      No
555      No
556      No
557      No
558      No
559      No
560      No
561      No
562     Yes
563      No
564      No
565      No
566     Yes
567      No
568     Yes
569      No
570      No
571      No
572      No
573     Yes
574      No
575      No
576      No
577      No
578      No
579      No
580      No
581      No
582      No
583      No
584      No
585     Yes
586      No
587      No
588      No
589     Yes
590      No
591     Yes
592      No
593      No
594      No
595     Yes
596      No
597      No
598     Yes
599      No
600      No
601      No
602      No
603      No
604      No
605      No
606      No
607     Yes
608     Yes
609      No
610      No
611      No
612      No
613      No
614     Yes
615      No
616      No
617      No
618      No
619      No
620      No
621      No
622      No
623      No
624      No
625      No
626      No
627      No
628      No
629      No
630      No
631      No
632      No
633      No
634      No
635      No
636     Yes
637      No
638      No
639      No
640      No
641      No
642      No
643      No
644      No
645     Yes
646      No
647      No
648      No
649      No
650      No
651      No
652      No
653      No
654      No
655      No
656     Yes
657      No
658      No
659      No
660     Yes
661      No
662     Yes
663     Yes
664      No
665      No
666     Yes
667     Yes
668      No
669     Yes
670      No
671      No
672      No
673      No
674      No
675      No
676      No
677      No
678      No
679      No
680      No
681      No
682      No
683     Yes
684      No
685      No
686      No
687      No
688     Yes
689     Yes
690      No
691      No
692      No
693     Yes
694      No
695     Yes
696      No
697      No
698      No
699      No
700     Yes
701      No
702      No
703      No
704      No
705      No
706     Yes
707      No
708      No
709     Yes
710      No
711     Yes
712      No
713      No
714      No
715      No
716      No
717      No
718      No
719      No
720     Yes
721      No
722      No
723      No
724      No
725     Yes
726      No
727      No
728      No
729      No
730      No
731     Yes
732     Yes
733      No
734      No
735      No
736      No
737      No
738      No
739      No
740      No
741      No
742      No
743      No
744     Yes
745      No
746      No
747      No
748     Yes
749     Yes
750      No
751      No
752     Yes
753      No
754      No
755      No
756      No
757      No
758      No
759      No
760      No
761     Yes
762     Yes
763      No
764      No
765      No
766      No
767      No
768      No
769      No
770      No
771      No
772      No
773      No
774      No
775      No
776     Yes
777     Yes
778      No
779     Yes
780     Yes
781      No
782      No
783      No
784      No
785      No
786      No
787      No
788      No
789     Yes
790      No
791     Yes
792     Yes
793      No
794      No
795      No
796     Yes
797     Yes
798     Yes
799      No
800     Yes
801     Yes
802      No
803      No
804      No
805      No
806      No
807      No
808      No
809      No
810      No
811      No
812      No
813     Yes
814      No
815      No
816      No
817      No
818      No
819      No
820      No
821      No
822      No
823      No
824      No
825      No
826      No
827      No
828     Yes
829     Yes
830      No
831     Yes
832      No
833      No
834      No
835      No
836     Yes
837      No
838     Yes
839      No
840      No
841      No
842     Yes
843      No
844      No
845      No
846      No
847      No
848      No
849     Yes
850      No
851      No
852      No
853      No
854      No
855      No
856      No
857     Yes
858      No
859      No
860     Yes
861      No
862      No
863      No
864     Yes
865      No
866      No
867      No
868      No
869      No
870      No
871     Yes
872      No
873      No
874      No
875      No
876      No
877      No
878      No
879      No
880      No
881      No
882      No
883      No
884      No
885      No
886      No
887      No
888      No
889      No
890      No
891      No
892     Yes
893      No
894      No
895      No
896      No
897      No
898      No
899      No
900      No
901      No
902      No
903      No
904      No
905      No
906      No
907      No
908      No
909      No
910      No
911     Yes
912      No
913     Yes
914      No
915     Yes
916      No
917      No
918      No
919      No
920      No
921      No
922      No
923      No
924      No
925      No
926      No
927      No
928     Yes
929      No
930      No
931      No
932     Yes
933      No
934      No
935      No
936      No
937      No
938      No
939     Yes
940     Yes
941      No
942      No
943      No
944      No
945      No
946     Yes
947     Yes
948      No
949      No
950      No
951      No
952     Yes
953     Yes
954      No
955      No
956      No
957      No
958      No
959      No
960      No
961      No
962      No
963      No
964      No
965      No
966     Yes
967      No
968      No
969      No
970      No
971      No
972      No
973      No
974      No
975     Yes
976      No
977      No
978      No
979      No
980     Yes
981     Yes
982      No
983      No
984      No
985     Yes
986      No
987      No
988      No
989      No
990      No
991      No
992      No
993      No
994      No
995      No
996      No
997     Yes
998      No
999      No
1000     No
1001     No
1002     No
1003     No
1004     No
1005     No
1006    Yes
1007    Yes
1008     No
1009     No
1010     No
1011     No
1012    Yes
1013     No
1014     No
1015     No
1016    Yes
1017     No
1018     No
1019     No
1020     No
1021    Yes
1022     No
1023     No
1024     No
1025     No
1026     No
1027     No
1028     No
1029     No
1030     No
1031    Yes
1032    Yes
1033    Yes
1034     No
1035     No
1036    Yes
1037     No
1038     No
1039    Yes
1040     No
1041     No
1042     No
1043     No
1044     No
1045     No
1046     No
1047     No
1048     No
1049     No
1050     No
1051     No
1052     No
1053     No
1054     No
1055     No
1056    Yes
1057    Yes
1058    Yes
1059     No
1060    Yes
1061     No
1062     No
1063     No
1064     No
1065     No
1066     No
1067     No
1068    Yes
1069     No
1070     No
1071     No
1072     No
1073     No
1074     No
1075     No
1076     No
1077    Yes
1078     No
1079     No
1080     No
1081     No
1082     No
1083    Yes
1084     No
1085    Yes
1086     No
1087     No
1088     No
1089     No
1090     No
1091     No
1092     No
1093     No
1094     No
1095     No
1096     No
1097     No
1098     No
1099     No
1100     No
1101     No
1102     No
1103     No
1104     No
1105     No
1106    Yes
1107     No
1108     No
1109     No
1110    Yes
1111    Yes
1112    Yes
1113     No
1114     No
1115     No
1116     No
1117     No
1118     No
1119     No
1120     No
1121     No
1122     No
1123     No
1124     No
1125     No
1126     No
1127     No
1128     No
1129     No
1130     No
1131     No
1132     No
1133     No
1134     No
1135     No
1136    Yes
1137     No
1138     No
1139     No
1140     No
1141     No
1142     No
1143     No
1144     No
1145     No
1146     No
1147     No
1148     No
1149     No
1150     No
1151     No
1152     No
1153    Yes
1154     No
1155     No
1156     No
1157     No
1158     No
1159     No
1160     No
1161     No
1162    Yes
1163     No
1164     No
1165     No
1166     No
1167    Yes
1168     No
1169     No
1170     No
1171    Yes
1172     No
1173     No
1174     No
1175     No
1176     No
1177     No
1178     No
1179     No
1180     No
1181     No
1182     No
1183     No
1184     No
1185     No
1186    Yes
1187     No
1188     No
1189     No
1190     No
1191     No
1192     No
1193     No
1194     No
1195     No
1196     No
1197     No
1198     No
1199     No
1200     No
1201    Yes
1202     No
1203     No
1204    Yes
1205    Yes
1206     No
1207     No
1208     No
1209     No
1210     No
1211     No
1212     No
1213    Yes
1214     No
1215     No
1216     No
1217     No
1218     No
1219     No
1220     No
1221     No
1222    Yes
1223    Yes
1224     No
1225     No
1226     No
1227     No
1228     No
1229     No
1230     No
1231     No
1232     No
1233     No
1234     No
1235     No
1236    Yes
1237    Yes
1238     No
1239     No
1240     No
1241     No
1242     No
1243     No
1244     No
1245     No
1246    Yes
1247     No
1248     No
1249    Yes
1250     No
1251     No
1252     No
1253     No
1254     No
1255    Yes
1256     No
1257    Yes
1258     No
1259     No
1260     No
1261     No
1262    Yes
1263     No
1264     No
1265     No
1266     No
1267     No
1268     No
1269     No
1270     No
1271    Yes
1272     No
1273    Yes
1274     No
1275     No
1276     No
1277     No
1278     No
1279    Yes
1280     No
1281    Yes
1282     No
1283     No
1284     No
1285     No
1286     No
1287     No
1288     No
1289     No
1290    Yes
1291    Yes
1292     No
1293     No
1294     No
1295     No
1296     No
1297    Yes
1298    Yes
1299     No
1300     No
1301     No
1302     No
1303     No
1304     No
1305     No
1306     No
1307     No
1308     No
1309     No
1310     No
1311     No
1312    Yes
1313    Yes
1314     No
1315     No
1316     No
1317     No
1318     No
1319     No
1320     No
1321     No
1322     No
1323     No
1324     No
1325     No
1326    Yes
1327     No
1328     No
1329     No
1330     No
1331     No
1332    Yes
1333    Yes
1334     No
1335     No
1336     No
1337     No
1338    Yes
1339    Yes
1340     No
1341     No
1342     No
1343     No
1344     No
1345     No
1346     No
1347     No
1348     No
1349     No
1350     No
1351     No
1352     No
1353    Yes
1354    Yes
1355     No
1356     No
1357     No
1358     No
1359     No
1360     No
1361     No
1362     No
1363     No
1364     No
1365    Yes
1366     No
1367     No
1368     No
1369    Yes
1370     No
1371     No
1372     No
1373     No
1374     No
1375    Yes
1376     No
1377     No
1378     No
1379    Yes
1380     No
1381     No
1382     No
1383     No
1384     No
1385     No
1386     No
1387     No
1388     No
1389     No
1390    Yes
1391     No
1392     No
1393     No
1394     No
1395    Yes
1396    Yes
1397     No
1398     No
1399     No
1400     No
1401     No
1402     No
1403     No
1404     No
1405     No
1406     No
1407     No
1408     No
1409     No
1410     No
1411     No
1412     No
1413     No
1414     No
1415     No
1416     No
1417     No
1418     No
1419     No
1420     No
1421     No
1422     No
1423     No
1424     No
1425     No
1426     No
1427     No
1428     No
1429     No
1430     No
1431     No
1432     No
1433     No
1434     No
1435     No
1436     No
1437     No
1438    Yes
1439     No
1440     No
1441     No
1442    Yes
1443     No
1444    Yes
1445     No
1446     No
1447     No
1448     No
1449     No
1450     No
1451     No
1452    Yes
1453     No
1454     No
1455     No
1456     No
1457     No
1458     No
1459     No
1460     No
1461    Yes
1462     No
1463     No
1464     No
1465     No
1466     No
1467     No
1468     No
1469     No
Name: Attrition, dtype: object uniques value
colBusinessTravel have id
0           Travel_Rarely
1       Travel_Frequently
2           Travel_Rarely
3       Travel_Frequently
4           Travel_Rarely
5       Travel_Frequently
6           Travel_Rarely
7           Travel_Rarely
8       Travel_Frequently
9           Travel_Rarely
10          Travel_Rarely
11          Travel_Rarely
12          Travel_Rarely
13          Travel_Rarely
14          Travel_Rarely
15          Travel_Rarely
16          Travel_Rarely
17             Non-Travel
18          Travel_Rarely
19          Travel_Rarely
20             Non-Travel
21          Travel_Rarely
22          Travel_Rarely
23          Travel_Rarely
24          Travel_Rarely
25          Travel_Rarely
26      Travel_Frequently
27          Travel_Rarely
28          Travel_Rarely
29          Travel_Rarely
30          Travel_Rarely
31          Travel_Rarely
32          Travel_Rarely
33          Travel_Rarely
34          Travel_Rarely
35          Travel_Rarely
36          Travel_Rarely
37          Travel_Rarely
38          Travel_Rarely
39      Travel_Frequently
40          Travel_Rarely
41          Travel_Rarely
42          Travel_Rarely
43      Travel_Frequently
44      Travel_Frequently
45          Travel_Rarely
46             Non-Travel
47          Travel_Rarely
48      Travel_Frequently
49          Travel_Rarely
50          Travel_Rarely
51          Travel_Rarely
52          Travel_Rarely
53             Non-Travel
54          Travel_Rarely
55      Travel_Frequently
56      Travel_Frequently
57          Travel_Rarely
58          Travel_Rarely
59          Travel_Rarely
60          Travel_Rarely
61      Travel_Frequently
62          Travel_Rarely
63          Travel_Rarely
64          Travel_Rarely
65          Travel_Rarely
66      Travel_Frequently
67          Travel_Rarely
68      Travel_Frequently
69          Travel_Rarely
70      Travel_Frequently
71          Travel_Rarely
72          Travel_Rarely
73          Travel_Rarely
74          Travel_Rarely
75          Travel_Rarely
76          Travel_Rarely
77          Travel_Rarely
78          Travel_Rarely
79          Travel_Rarely

colOver18 have id
0       Y
1       Y
2       Y
3       Y
4       Y
5       Y
6       Y
7       Y
8       Y
9       Y
10      Y
11      Y
12      Y
13      Y
14      Y
15      Y
16      Y
17      Y
18      Y
19      Y
20      Y
21      Y
22      Y
23      Y
24      Y
25      Y
26      Y
27      Y
28      Y
29      Y
30      Y
31      Y
32      Y
33      Y
34      Y
35      Y
36      Y
37      Y
38      Y
39      Y
40      Y
41      Y
42      Y
43      Y
44      Y
45      Y
46      Y
47      Y
48      Y
49      Y
50      Y
51      Y
52      Y
53      Y
54      Y
55      Y
56      Y
57      Y
58      Y
59      Y
60      Y
61      Y
62      Y
63      Y
64      Y
65      Y
66      Y
67      Y
68      Y
69      Y
70      Y
71      Y
72      Y
73      Y
74      Y
75      Y
76      Y
77      Y
78      Y
79      Y
80      Y
81      Y
82      Y
83      Y
84      Y
85      Y
86      Y
87      Y
88      Y
89      Y
90      Y
91      Y
92      Y
93      Y
94      Y
95      Y
96      Y
97      Y
98      Y
99      Y
100     Y
101     Y
102     Y
103     Y
104     Y
105     Y
106     Y
107     Y
108     Y
109     Y
110     Y
111     Y
112     Y
113     Y
114     Y
115     Y
116     Y
117     Y
118     Y
119     Y
120     Y
121     Y
122     Y
123     Y
124     Y
125     Y
126     Y
127     Y
128     Y
129     Y
130     Y
131     Y
132     Y
133     Y
134     Y
135     Y
136     Y
137     Y
138     Y
139     Y
140     Y
141     Y
142     Y
143     Y
144     Y
145     Y
146     Y
147     Y
148     Y
149     Y
150     Y
151     Y
152     Y
153     Y
154     Y
155     Y
156     Y
157     Y
158     Y
159     Y
160     Y
161     Y
162     Y
163     Y
164     Y
165     Y
166     Y
167     Y
168     Y
169     Y
170     Y
171     Y
172     Y
173     Y
174     Y
175     Y
176     Y
177     Y
178     Y
179     Y
180     Y
181     Y
182     Y
183     Y
184     Y
185     Y
186     Y
187     Y
188     Y
189     Y
190     Y
191     Y
192     Y
193     Y
194     Y
195     Y
196     Y
197     Y
198     Y
199     Y
200     Y
201     Y
202     Y
203     Y
204     Y
205     Y
206     Y
207     Y
208     Y
209     Y
210     Y
211     Y
212     Y
213     Y
214     Y
215     Y
216     Y
217     Y
218     Y
219     Y
220     Y
221     Y
222     Y
223     Y
224     Y
225     Y
226     Y
227     Y
228     Y
229     Y
230     Y
231     Y
232     Y
233     Y
234     Y
235     Y
236     Y
237     Y
238     Y
239     Y
240     Y
241     Y
242     Y
243     Y
244     Y
245     Y
246     Y
247     Y
248     Y
249     Y
250     Y
251     Y
252     Y
253     Y
254     Y
255     Y
256     Y
257     Y
258     Y
259     Y
260     Y
261     Y
262     Y
263     Y
264     Y
265     Y
266     Y
267     Y
268     Y
269     Y
270     Y
271     Y
272     Y
273     Y
274     Y
275     Y
276     Y
277     Y
278     Y
279     Y
280     Y
281     Y
282     Y
283     Y
284     Y
285     Y
286     Y
287     Y
288     Y
289     Y
290     Y
291     Y
292     Y
293     Y
294     Y
295     Y
296     Y
297     Y
298     Y
299     Y
300     Y
301     Y
302     Y
303     Y
304     Y
305     Y
306     Y
307     Y
308     Y
309     Y
310     Y
311     Y
312     Y
313     Y
314     Y
315     Y
316     Y
317     Y
318     Y
319     Y
320     Y
321     Y
322     Y
323     Y
324     Y
325     Y
326     Y
327     Y
328     Y
329     Y
330     Y
331     Y
332     Y
333     Y
334     Y
335     Y
336     Y
337     Y
338     Y
339     Y
340     Y
341     Y
342     Y
343     Y
344     Y
345     Y
346     Y
347     Y
348     Y
349     Y
350     Y
351     Y
352     Y
353     Y
354     Y
355     Y
356     Y
357     Y
358     Y
359     Y
360     Y
361     Y
362     Y
363     Y
364     Y
365     Y
366     Y
367     Y
368     Y
369     Y
370     Y
371     Y
372     Y
373     Y
374     Y
375     Y
376     Y
377     Y
378     Y
379     Y
380     Y
381     Y
382     Y
383     Y
384     Y
385     Y
386     Y
387     Y
388     Y
389     Y
390     Y
391     Y
392     Y
393     Y
394     Y
395     Y
396     Y
397     Y
398     Y
399     Y
400     Y
401     Y
402     Y
403     Y
404     Y
405     Y
406     Y
407     Y
408     Y
409     Y
410     Y
411     Y
412     Y
413     Y
414     Y
415     Y
416     Y
417     Y
418     Y
419     Y
420     Y
421     Y
422     Y
423     Y
424     Y
425     Y
426     Y
427     Y
428     Y
429     Y
430     Y
431     Y
432     Y
433     Y
434     Y
435     Y
436     Y
437     Y
438     Y
439     Y
440     Y
441     Y
442     Y
443     Y
444     Y
445     Y
446     Y
447     Y
448     Y
449     Y
450     Y
451     Y
452     Y
453     Y
454     Y
455     Y
456     Y
457     Y
458     Y
459     Y
460     Y
461     Y
462     Y
463     Y
464     Y
465     Y
466     Y
467     Y
468     Y
469     Y
470     Y
471     Y
472     Y
473     Y
474     Y
475     Y
476     Y
477     Y
478     Y
479     Y
480     Y
481     Y
482     Y
483     Y
484     Y
485     Y
486     Y
487     Y
488     Y
489     Y
490     Y
491     Y
492     Y
493     Y
494     Y
495     Y
496     Y
497     Y
498     Y
499     Y
500     Y
501     Y
502     Y
503     Y
504     Y
505     Y
506     Y
507     Y
508     Y
509     Y
510     Y
511     Y
512     Y
513     Y
514     Y
515     Y
516     Y
517     Y
518     Y
519     Y
520     Y
521     Y
522     Y
523     Y
524     Y
525     Y
526     Y
527     Y
528     Y
529     Y
530     Y
531     Y
532     Y
533     Y
534     Y
535     Y
536     Y
537     Y
538     Y
539     Y
540     Y
541     Y
542     Y
543     Y
544     Y
545     Y
546     Y
547     Y
548     Y
549     Y
550     Y
551     Y
552     Y
553     Y
554     Y
555     Y
556     Y
557     Y
558     Y
559     Y
560     Y
561     Y
562     Y
563     Y
564     Y
565     Y
566     Y
567     Y
568     Y
569     Y
570     Y
571     Y
572     Y
573     Y
574     Y
575     Y
576     Y
577     Y
578     Y
579     Y
580     Y
581     Y
582     Y
583     Y
584     Y
585     Y
586     Y
587     Y
588     Y
589     Y
590     Y
591     Y
592     Y
593     Y
594     Y
595     Y
596     Y
597     Y
598     Y
599     Y
600     Y
601     Y
602     Y
603     Y
604     Y
605     Y
606     Y
607     Y
608     Y
609     Y
610     Y
611     Y
612     Y
613     Y
614     Y
615     Y
616     Y
617     Y
618     Y
619     Y
620     Y
621     Y
622     Y
623     Y
624     Y
625     Y
626     Y
627     Y
628     Y
629     Y
630     Y
631     Y
632     Y
633     Y
634     Y
635     Y
636     Y
637     Y
638     Y
639     Y
640     Y
641     Y
642     Y
643     Y
644     Y
645     Y
646     Y
647     Y
648     Y
649     Y
650     Y
651     Y
652     Y
653     Y
654     Y
655     Y
656     Y
657     Y
658     Y
659     Y
660     Y
661     Y
662     Y
663     Y
664     Y
665     Y
666     Y
667     Y
668     Y
669     Y
670     Y
671     Y
672     Y
673     Y
674     Y
675     Y
676     Y
677     Y
678     Y
679     Y
680     Y
681     Y
682     Y
683     Y
684     Y
685     Y
686     Y
687     Y
688     Y
689     Y
690     Y
691     Y
692     Y
693     Y
694     Y
695     Y
696     Y
697     Y
698     Y
699     Y
700     Y
701     Y
702     Y
703     Y
704     Y
705     Y
706     Y
707     Y
708     Y
709     Y
710     Y
711     Y
712     Y
713     Y
714     Y
715     Y
716     Y
717     Y
718     Y
719     Y
720     Y
721     Y
722     Y
723     Y
724     Y
725     Y
726     Y
727     Y
728     Y
729     Y
730     Y
731     Y
732     Y
733     Y
734     Y
735     Y
736     Y
737     Y
738     Y
739     Y
740     Y
741     Y
742     Y
743     Y
744     Y
745     Y
746     Y
747     Y
748     Y
749     Y
750     Y
751     Y
752     Y
753     Y
754     Y
755     Y
756     Y
757     Y
758     Y
759     Y
760     Y
761     Y
762     Y
763     Y
764     Y
765     Y
766     Y
767     Y
768     Y
769     Y
770     Y
771     Y
772     Y
773     Y
774     Y
775     Y
776     Y
777     Y
778     Y
779     Y
780     Y
781     Y
782     Y
783     Y
784     Y
785     Y
786     Y
787     Y
788     Y
789     Y
790     Y
791     Y
792     Y
793     Y
794     Y
795     Y
796     Y
797     Y
798     Y
799     Y
800     Y
801     Y
802     Y
803     Y
804     Y
805     Y
806     Y
807     Y
808     Y
809     Y
810     Y
811     Y
812     Y
813     Y
814     Y
815     Y
816     Y
817     Y
818     Y
819     Y
820     Y
821     Y
822     Y
823     Y
824     Y
825     Y
826     Y
827     Y
828     Y
829     Y
830     Y
831     Y
832     Y
833     Y
834     Y
835     Y
836     Y
837     Y
838     Y
839     Y
840     Y
841     Y
842     Y
843     Y
844     Y
845     Y
846     Y
847     Y
848     Y
849     Y
850     Y
851     Y
852     Y
853     Y
854     Y
855     Y
856     Y
857     Y
858     Y
859     Y
860     Y
861     Y
862     Y
863     Y
864     Y
865     Y
866     Y
867     Y
868     Y
869     Y
870     Y
871     Y
872     Y
873     Y
874     Y
875     Y
876     Y
877     Y
878     Y
879     Y
880     Y
881     Y
882     Y
883     Y
884     Y
885     Y
886     Y
887     Y
888     Y
889     Y
890     Y
891     Y
892     Y
893     Y
894     Y
895     Y
896     Y
897     Y
898     Y
899     Y
900     Y
901     Y
902     Y
903     Y
904     Y
905     Y
906     Y
907     Y
908     Y
909     Y
910     Y
911     Y
912     Y
913     Y
914     Y
915     Y
916     Y
917     Y
918     Y
919     Y
920     Y
921     Y
922     Y
923     Y
924     Y
925     Y
926     Y
927     Y
928     Y
929     Y
930     Y
931     Y
932     Y
933     Y
934     Y
935     Y
936     Y
937     Y
938     Y
939     Y
940     Y
941     Y
942     Y
943     Y
944     Y
945     Y
946     Y
947     Y
948     Y
949     Y
950     Y
951     Y
952     Y
953     Y
954     Y
955     Y
956     Y
957     Y
958     Y
959     Y
960     Y
961     Y
962     Y
963     Y
964     Y
965     Y
966     Y
967     Y
968     Y
969     Y
970     Y
971     Y
972     Y
973     Y
974     Y
975     Y
976     Y
977     Y
978     Y
979     Y
980     Y
981     Y
982     Y
983     Y
984     Y
985     Y
986     Y
987     Y
988     Y
989     Y
990     Y
991     Y
992     Y
993     Y
994     Y
995     Y
996     Y
997     Y
998     Y
999     Y
1000    Y
1001    Y
1002    Y
1003    Y
1004    Y
1005    Y
1006    Y
1007    Y
1008    Y
1009    Y
1010    Y
1011    Y
1012    Y
1013    Y
1014    Y
1015    Y
1016    Y
1017    Y
1018    Y
1019    Y
1020    Y
1021    Y
1022    Y
1023    Y
1024    Y
1025    Y
1026    Y
1027    Y
1028    Y
1029    Y
1030    Y
1031    Y
1032    Y
1033    Y
1034    Y
1035    Y
1036    Y
1037    Y
1038    Y
1039    Y
1040    Y
1041    Y
1042    Y
1043    Y
1044    Y
1045    Y
1046    Y
1047    Y
1048    Y
1049    Y
1050    Y
1051    Y
1052    Y
1053    Y
1054    Y
1055    Y
1056    Y
1057    Y
1058    Y
1059    Y
1060    Y
1061    Y
1062    Y
1063    Y
1064    Y
1065    Y
1066    Y
1067    Y
1068    Y
1069    Y
1070    Y
1071    Y
1072    Y
1073    Y
1074    Y
1075    Y
1076    Y
1077    Y
1078    Y
1079    Y
1080    Y
1081    Y
1082    Y
1083    Y
1084    Y
1085    Y
1086    Y
1087    Y
1088    Y
1089    Y
1090    Y
1091    Y
1092    Y
1093    Y
1094    Y
1095    Y
1096    Y
1097    Y
1098    Y
1099    Y
1100    Y
1101    Y
1102    Y
1103    Y
1104    Y
1105    Y
1106    Y
1107    Y
1108    Y
1109    Y
1110    Y
1111    Y
1112    Y
1113    Y
1114    Y
1115    Y
1116    Y
1117    Y
1118    Y
1119    Y
1120    Y
1121    Y
1122    Y
1123    Y
1124    Y
1125    Y
1126    Y
1127    Y
1128    Y
1129    Y
1130    Y
1131    Y
1132    Y
1133    Y
1134    Y
1135    Y
1136    Y
1137    Y
1138    Y
1139    Y
1140    Y
1141    Y
1142    Y
1143    Y
1144    Y
1145    Y
1146    Y
1147    Y
1148    Y
1149    Y
1150    Y
1151    Y
1152    Y
1153    Y
1154    Y
1155    Y
1156    Y
1157    Y
1158    Y
1159    Y
1160    Y
1161    Y
1162    Y
1163    Y
1164    Y
1165    Y
1166    Y
1167    Y
1168    Y
1169    Y
1170    Y
1171    Y
1172    Y
1173    Y
1174    Y
1175    Y
1176    Y
1177    Y
1178    Y
1179    Y
1180    Y
1181    Y
1182    Y
1183    Y
1184    Y
1185    Y
1186    Y
1187    Y
1188    Y
1189    Y
1190    Y
1191    Y
1192    Y
1193    Y
1194    Y
1195    Y
1196    Y
1197    Y
1198    Y
1199    Y
1200    Y
1201    Y
1202    Y
1203    Y
1204    Y
1205    Y
1206    Y
1207    Y
1208    Y
1209    Y
1210    Y
1211    Y
1212    Y
1213    Y
1214    Y
1215    Y
1216    Y
1217    Y
1218    Y
1219    Y
1220    Y
1221    Y
1222    Y
1223    Y
1224    Y
1225    Y
1226    Y
1227    Y
1228    Y
1229    Y
1230    Y
1231    Y
1232    Y
1233    Y
1234    Y
1235    Y
1236    Y
1237    Y
1238    Y
1239    Y
1240    Y
1241    Y
1242    Y
1243    Y
1244    Y
1245    Y
1246    Y
1247    Y
1248    Y
1249    Y
1250    Y
1251    Y
1252    Y
1253    Y
1254    Y
1255    Y
1256    Y
1257    Y
1258    Y
1259    Y
1260    Y
1261    Y
1262    Y
1263    Y
1264    Y
1265    Y
1266    Y
1267    Y
1268    Y
1269    Y
1270    Y
1271    Y
1272    Y
1273    Y
1274    Y
1275    Y
1276    Y
1277    Y
1278    Y
1279    Y
1280    Y
1281    Y
1282    Y
1283    Y
1284    Y
1285    Y
1286    Y
1287    Y
1288    Y
1289    Y
1290    Y
1291    Y
1292    Y
1293    Y
1294    Y
1295    Y
1296    Y
1297    Y
1298    Y
1299    Y
1300    Y
1301    Y
1302    Y
1303    Y
1304    Y
1305    Y
1306    Y
1307    Y
1308    Y
1309    Y
1310    Y
1311    Y
1312    Y
1313    Y
1314    Y
1315    Y
1316    Y
1317    Y
1318    Y
1319    Y
1320    Y
1321    Y
1322    Y
1323    Y
1324    Y
1325    Y
1326    Y
1327    Y
1328    Y
1329    Y
1330    Y
1331    Y
1332    Y
1333    Y
1334    Y
1335    Y
1336    Y
1337    Y
1338    Y
1339    Y
1340    Y
1341    Y
1342    Y
1343    Y
1344    Y
1345    Y
1346    Y
1347    Y
1348    Y
1349    Y
1350    Y
1351    Y
1352    Y
1353    Y
1354    Y
1355    Y
1356    Y
1357    Y
1358    Y
1359    Y
1360    Y
1361    Y
1362    Y
1363    Y
1364    Y
1365    Y
1366    Y
1367    Y
1368    Y
1369    Y
1370    Y
1371    Y
1372    Y
1373    Y
1374    Y
1375    Y
1376    Y
1377    Y
1378    Y
1379    Y
1380    Y
1381    Y
1382    Y
1383    Y
1384    Y
1385    Y
1386    Y
1387    Y
1388    Y
1389    Y
1390    Y
1391    Y
1392    Y
1393    Y
1394    Y
1395    Y
1396    Y
1397    Y
1398    Y
1399    Y
1400    Y
1401    Y
1402    Y
1403    Y
1404    Y
1405    Y
1406    Y
1407    Y
1408    Y
1409    Y
1410    Y
1411    Y
1412    Y
1413    Y
1414    Y
1415    Y
1416    Y
1417    Y
1418    Y
1419    Y
1420    Y
1421    Y
1422    Y
1423    Y
1424    Y
1425    Y
1426    Y
1427    Y
1428    Y
1429    Y
1430    Y
1431    Y
1432    Y
1433    Y
1434    Y
1435    Y
1436    Y
1437    Y
1438    Y
1439    Y
1440    Y
1441    Y
1442    Y
1443    Y
1444    Y
1445    Y
1446    Y
1447    Y
1448    Y
1449    Y
1450    Y
1451    Y
1452    Y
1453    Y
1454    Y
1455    Y
1456    Y
1457    Y
1458    Y
1459    Y
1460    Y
1461    Y
1462    Y
1463    Y
1464    Y
1465    Y
1466    Y
1467    Y
1468    Y
1469    Y
Name: Over18, dtype: object uniques value
colOverTime have id
0       Yes
1        No
2       Yes
3       Yes
4        No
5        No
6       Yes
7        No
8        No
9        No
10       No
11      Yes
12       No
13       No
14      Yes
15       No
16      Yes
17      Yes
18       No
19      Yes
20       No
21       No
22       No
23       No
24       No
25       No
26      Yes
27       No
28       No
29       No
30       No
31      Yes
32       No
33       No
34      Yes
35       No
36      Yes
37       No
38      Yes
39       No
40       No
41       No
42       No
43       No
44       No
45       No
46       No
47       No
48      Yes
49       No
50      Yes
51      Yes
52      Yes
53      Yes
54      Yes
55      Yes
56       No
57      Yes
58       No
59       No
60      Yes
61       No
62      Yes
63       No
64       No
65      Yes
66       No
67       No
68       No
69      Yes
70       No
71       No
72       No
73       No
74       No
75       No
76       No
77      Yes
78       No
79      Yes
80      Yes
81       No
82       No
83      Yes
84       No
85       No
86       No
87       No
88       No
89       No
90       No
91      Yes
92      Yes
93      Yes
94       No
95       No
96       No
97       No
98       No
99       No
100     Yes
101      No
102     Yes
103      No
104      No
105      No
106     Yes
107     Yes
108      No
109      No
110      No
111     Yes
112     Yes
113      No
114      No
115      No
116      No
117      No
118      No
119     Yes
120      No
121      No
122     Yes
123      No
124     Yes
125      No
126      No
127     Yes
128      No
129      No
130      No
131      No
132     Yes
133     Yes
134      No
135      No
136      No
137      No
138      No
139     Yes
140      No
141      No
142     Yes
143      No
144      No
145      No
146      No
147      No
148      No
149      No
150      No
151      No
152     Yes
153      No
154      No
155      No
156      No
157     Yes
158      No
159      No
160      No
161      No
162      No
163     Yes
164     Yes
165      No
166      No
167      No
168      No
169      No
170     Yes
171      No
172      No
173      No
174     Yes
175     Yes
176      No
177      No
178      No
179      No
180     Yes
181      No
182     Yes
183      No
184      No
185      No
186      No
187      No
188      No
189      No
190      No
191      No
192     Yes
193      No
194      No
195     Yes
196      No
197      No
198      No
199      No
200      No
201     Yes
202     Yes
203     Yes
204     Yes
205      No
206     Yes
207      No
208      No
209      No
210      No
211      No
212      No
213      No
214     Yes
215     Yes
216      No
217      No
218      No
219      No
220      No
221      No
222     Yes
223      No
224      No
225      No
226      No
227      No
228      No
229     Yes
230      No
231      No
232      No
233      No
234     Yes
235     Yes
236      No
237     Yes
238      No
239     Yes
240      No
241      No
242      No
243      No
244      No
245      No
246      No
247      No
248      No
249      No
250      No
251      No
252      No
253     Yes
254      No
255      No
256     Yes
257      No
258      No
259      No
260      No
261      No
262      No
263     Yes
264      No
265      No
266      No
267      No
268     Yes
269      No
270     Yes
271     Yes
272      No
273      No
274      No
275     Yes
276      No
277     Yes
278      No
279      No
280     Yes
281      No
282      No
283     Yes
284     Yes
285      No
286     Yes
287      No
288     Yes
289      No
290     Yes
291      No
292      No
293     Yes
294     Yes
295      No
296      No
297      No
298      No
299      No
300      No
301      No
302      No
303      No
304      No
305      No
306      No
307      No
308     Yes
309     Yes
310      No
311      No
312     Yes
313      No
314     Yes
315      No
316     Yes
317      No
318     Yes
319     Yes
320     Yes
321      No
322      No
323     Yes
324      No
325      No
326      No
327     Yes
328      No
329      No
330      No
331     Yes
332      No
333      No
334      No
335     Yes
336     Yes
337      No
338      No
339      No
340      No
341     Yes
342     Yes
343     Yes
344      No
345      No
346     Yes
347      No
348      No
349      No
350     Yes
351      No
352      No
353     Yes
354     Yes
355      No
356      No
357     Yes
358      No
359      No
360      No
361     Yes
362      No
363     Yes
364      No
365      No
366      No
367      No
368     Yes
369     Yes
370      No
371      No
372      No
373      No
374      No
375      No
376      No
377      No
378     Yes
379     Yes
380     Yes
381      No
382      No
383      No
384      No
385     Yes
386      No
387      No
388      No
389     Yes
390      No
391      No
392      No
393      No
394      No
395      No
396     Yes
397     Yes
398     Yes
399      No
400     Yes
401      No
402      No
403      No
404      No
405      No
406     Yes
407      No
408      No
409      No
410      No
411      No
412      No
413      No
414     Yes
415      No
416     Yes
417      No
418      No
419      No
420      No
421      No
422      No
423      No
424      No
425      No
426      No
427      No
428      No
429      No
430      No
431      No
432      No
433     Yes
434      No